@use 'src/styles/vars';

.amount {
  height: vars.$simple-height;
  text-align: center;
  color: vars.$dark-orange;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .amount__display {
    font-size: vars.$very-large-font-size;
    font-weight: 700;
    text-shadow: 1px 1px vars.$very-dark-orange;
    margin-block-end: vars.$small-space;
  }

  .amount__currency {
    font-size: vars.$large-font-size;
    font-weight: 300;
  }
}
