// Typography

$base-font-size: 1.125em;
$medium-font-size: 1.5rem;
$large-font-size: 2rem;
$very-large-font-size: 3rem;

// Font weight
$fw-light: 300;
$fw-medium: 500;
$fw-bold: 700;

// Spacing

$base-space: 8px;
// $small-space: $base-space * 2;    // 16px
// $normal-space: $base-space * 3;   // 24px
// $medium-space: $base-space * 4;   // 32px

// Colors

$white: hsl(100deg, 100%, 100%);
$dark-grey: hsl(0deg, 0%, 10%);
$medium-grey: hsl(0deg, 0%, 40%);
$light-grey: hsl(0deg, 0%, 60%);
$very-light-grey: hsl(0deg, 0%, 80%);
$light-pink: hsl(4deg, 68%, 83%);
$dark-orange: hsl(4deg, 58%, 46%);
$very-dark-orange: hsl(4deg, 58%, 30%);
$transparent-dark-orange: hsla(4.3deg, 67.8%, 59.8%, 0.5);

// Border Radius
$normal-radius: 5px;
$large-radius: 15px;

// heights
$simple-height: 200px;

// Transitions
$fast-transition: 0.2s;
$slow-transition: 0.8s;


