@use 'src/styles/vars';

.app {
  width: 500px;
  margin-inline: auto;
  background-color: vars.$white;

  .button {
    display: block;
    margin-inline: auto;
    padding: vars.$base-space vars.$base-space * 2;
  }
}
