@use 'src/styles/vars';

.currencies {
  height: 600px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: vars.$dark-orange;

  .currencies__search {
    font-size: vars.$medium-font-size;
    font-weight: 500;
    padding: vars.$base-space * 2;
    margin-block: vars.$base-space * 2;
    border: none;
    border-radius: vars.$normal-radius;
    color: vars.$dark-orange;
    font-family: 'Spartan', sans-serif;;
    text-shadow: 1px 1px vars.$light-grey;
    border: 1px dotted vars.$transparent-dark-orange;
    width: 100%;
  
    &::placeholder {
      color: vars.$semi-transparent-dark-orange;
      text-shadow: none;
    }
  }

  .currencies__title {
    font-size: vars.$medium-font-size;
    font-weight: 700;
    padding: vars.$base-space * 2;
    padding-block-start: vars.$base-space * 4;
    text-shadow: 1px 1px vars.$very-dark-orange;
  }

  .currencies__list__item {
    font-size: vars.$medium-font-size;
    font-weight: 500;
    padding: vars.$base-space * 2;
    border-bottom: 1px solid vars.$transparent-dark-orange;
    cursor: pointer;
    transition: background-color vars.$slow-transition;

    &:last-child {
      margin-block-end: vars.$base-space * 4;
    }

    &:hover {
      background-color: vars.$light-pink;
      transition: background-color vars.$fast-transition;
    }
  }
}
