@use 'src/styles/vars';

.header {
  background-color: vars.$dark-orange;
  height: vars.$simple-height;
  color: vars.$white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-shadow: 1px 1px vars.$very-dark-orange;

  .header__title {
    font-size: vars.$very-large-font-size;
    font-weight: vars.$fw-bold;
    margin-block-end: vars.$base-space * 2;
  }

  .header__amount {
    font-size: vars.$large-font-size;
    font-weight: vars.$fw-light;
  }
  
}
