@use 'src/styles/vars';

.header {
  max-width: 700px;
  background-color: vars.$dark-orange;
  height: vars.$simple-height;
  color: vars.$white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .header__title {
    font-size: vars.$very-large-font-size;
    font-weight: 700;
    margin-block-end: vars.$small-space;
  }

  .header__content {
    font-size: vars.$large-font-size;
  }
  
}
